[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pylint = "*"
pudb = '*'
ipython = "*"

[packages]
django = "*"
whitenoise = "*"
django-taggit = "*"
psycopg2-binary = "*"
dynaconf = {extras = ["yaml"],version = "*"}
dj-database-url = "*"
markdown = "*"
pillow = "*"
social-auth-app-django = "*"
utils = "*"
django-pagedown = "*"
django-contrib-comments = "*"
django-avatar = "*"
