
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="card mb-2">
    <div class="card-header">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="text-muted" style="font-size:14px; margin-bottom:0px"><i class="fas fa-id-card-alt"></i> Автор: {{ post.author.first_name }} {{ post.author.last_name }}</p>
        <p class="text-muted" style="font-size:14px; margin-bottom:0px"><i class="far fa-calendar-alt"></i> Опубликовано: {{ post.publish}}</p>       
    </div>
    <div class="card-body">

        <p class="text-justify" style="font-size:18px;">{{ post.body|truncatewords:50 }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-success float-right">Читать</a>
    </div>
    <div class="card-footer text-muted">
        <i class="fas fa-tags"></i>
        Связанные метки:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
                <small class="text-muted cat float-right"><i class="fas fa-cocktail"></i> Время чтения: 30 minutes </small>

    </div>
</div>

