<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title">{{ post.title }}</h5>

        <p class="date">Опубликовано: {{ post.publish}}. Автор: {{ post.author.first_name }} {{ post.author.last_name }} </p>
        {{ post.publish}}
    </div>
    <div class="card-body">

        <p class="card-text">{{ post.body|truncatewords:15 }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-success">Прочесть</a>
    </div>
    <div class="card-footer text-muted">
        Связанные метки:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
</div>