{% extends 'base.html' %}
{% load avatar_tags %}
{% load blog_tags %}
{% load comments %}
{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}


{% block content %}
    <div class="card">
            <img src="https://img3.goodfon.ru/original/1920x1080/9/df/nastroeniya-kniga-knizhka.jpg" class="card-img-top" style="height:300px">
        <h3 class="card-header">{{ post.title }}</h3>

        <div class="card-body">
<!--        <h5 class="card-title">Специальный заголовок</h5>-->
            <p class="card-text">{{ post.body|markdown }}</p>
<!--        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>-->
         </div>
        <div class="card-footer text-muted">
            <p class="text-muted" style="font-size:14px; margin-bottom:0px"><i class="fas fa-id-card-alt"></i> Автор: {{ post.author.first_name }} {{ post.author.last_name }}</p>
            <p class="text-muted" style="font-size:14px; margin-bottom:0px"><i class="far fa-calendar-alt"></i> Опубликовано: {{ post.publish}}</p>
            <p class="text-muted" style="font-size:14px; margin-bottom:0px"><i class="fas fa-tags"></i>
            Связанные метки:
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            {% endfor %}
            </p>
            <p class="text-muted" style="font-size:14px; margin-bottom:0px"><i class="far fa-comments"></i> {% get_comment_count for post as comment_count %}Всего комментариев: {{ comment_count }}</p>
<!--            Эта хрень работает не так как надо. Потому что кривые урлы в кнопках не хотят работать-->
<!--            Редактирование и удаление публикации надо привязать к почте-->
            {% if user.is_authenticated %}
                {% if post.author.last_name == user.last_name %}
                    <a href="{% url 'blog:post_delete_url' post.id %}" type="submit" name="button" class="btn btn-outline-danger btn-sm float-right" style="margin-left:10px"> Удалить</a>
                    <a href="{% url 'blog:post_update_url' post.id %}" type="submit" name="button" class="btn btn-outline-info btn-sm float-right" style=""> Редактировать</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h6 class="card-header"> Обсуждение публикации автора: {{ post.author.first_name }} {{ post.author.last_name }}. </h6>
        <div class="card-body">
            {% if user.is_authenticated %}
                {% get_comment_form for post as form %}
                <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                {{ form.comment }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
        <!--            не работает редирект на страницу публикации. ругается на миксин ObjectDetailView -->
                <style class="text/css">
                    #id_honeypot {
                        display: none;
                    }
                    #id_comment {
                    width: 100%;
                    min-height: 100px;
                    }

                </style>
                <button type="submit" name="button" class="btn btn-primary" id="id_submit" style="margin-top: 20px;"> Опубликовать</button>
                </form>
            {% else %}
                <p>Только зарегистрированные пользователи принимают участие в обсуждении!
                Пожалуйста, <a href="{% url 'login' %}">войдите в учетную запись</a>, чтобы оставить комментарий.</p>
            {% endif %}

        </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h6 class="card-header">
            Комментарии
        </h6>
        <div class="card-body">
            {% get_comment_list for post as comment_list %}
            {% for comment in comment_list %}
            <style class="text/css">
                .id_user_avatar {
                margin-top: 20px;
                margin-bottom: 40px;
                }
            </style>
                {% avatar user 35 class="img-circle img-responsive" id="user_avatar" %} {{ comment.user_name }}, {{ comment.submit_date }}
                <p style="padding: 30px; margin: 20px; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid;border-bottom-style: solid; border-color: #555;">{{ comment.comment }}</p>
            {% endfor %}
        </div>
    </div>






{% endblock %}
