{% extends "base.html" %}

{% block title %}Вход в учетную запись{% endblock %}

{% block content %}
  <h3>Вход в учетную запись</h3>
  {% if form.errors %}
    <p>
      Имя пользователя и пароль не совпадают.
      Пожалуйста, попробуйте еще раз.
    </p>
  {% else %}
    <p>Используйте данную форму для входа в учетную запись.</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
    <p> <a href="{% url 'password_reset' %}"> Забыли свой пароль?</a>  </p>
  </div>
{% endblock %}